/* Reset e Estilos Globais */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
}

/* Estilos de Cabeçalho */
.titulo {
  border: solid 2px;
  border-radius: 10px;
  background-color: #04a94b;
  color: #ffffff;
  text-align: center;
  margin-bottom: 6px;
  font-size: 36px;
  height: 50px;
  padding-bottom: 10px;
}

/* Estilos de Tabela */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

thead {
  font-weight: 800;
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
}

th,
td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  /* Evita que o texto seja quebrado */
}

th {
  background-color: #f2f2f2;
}

/* Estilos de Produto - Aplicando quebra de palavra e tamanho máximo para a primeira coluna */
td:nth-child(1) {
  max-width: 100px; /* Tamanho máximo desejado */
  white-space: pre-wrap; /* Quebra de linha */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Estilos de Título - Aplicando quebra de palavra e tamanho máximo para a segunda coluna */
td:nth-child(2) {
  max-width: 150px; /* Tamanho máximo desejado */
  white-space: pre-wrap; /* Quebra de linha */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* Estilos de Imagem */
.logo {
  width: 150px;
  margin-top: 15px;
}

/* Estilos de Linha de Envio */
.submit-line {
  align-items: center;
  position: relative;
  width: 200px;
  margin: 0px auto;
  /* Alterado para centralizar */
  border: solid 1px;
  border-radius: 10px;
}

.submit-lente {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
  margin-right: 10px;
  /* Ajustando o espaço à direita do ícone */
}

.submit-line input {
  width: calc(100% - 20px);
  /* Ajustando a largura do input para acomodar o ícone */
  border-radius: 10px;
  height: 25px;
  padding-left: 20px;
  /* Adicionando espaço à direita do input para o ícone */
}



.tr:hover {
  background-color: #04a94b;
  color: #f1f1f1;
}
